/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("http://cs-server.usc.edu:45678/hw/hw8/images/background.png");
    display: block;
}

.well {
    border-radius: 10px;
    background: #ffffff;
}
form.well {
    padding-top: 10px;
    padding-bottom: 70px;
}

.panes {
    overflow: hidden;
    height: 100%;
    width: 200%;
    display: flex;
}
.panes div {
    flex: 1;
}

.changeIndicator {
    height: 15px;
}

chart {
    display:block;
}

#newFee p{
    font-size: small;
    font-weight: bold;
    margin-top: 10px;
}

#newFee .jumbotron{
    padding: 25px;
}

.panel-heading {
    height: 50px;
}

.my-select {
    height: 33px !important;
    max-width: 200px;
}

#my-select-label-1, #my-select-label-2 {
    min-width: 80px;
    margin-top: 6.5px
}

#my-select-label-2 {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    #my-select-label-2 {
        margin-left: 0px !important;
    }
}

table {
    margin-top: 45px;
    margin-bottom: 0px;
}

.table-responsive table {
    margin-top: 10px !important;
}

.progressBarMarginNews {
    margin-top: 15px;
}

.progressBarMarginTable {
    margin-top: 95px;
    margin-bottom: 70px;
}

.progressBarMarginChart {
    margin-top: 45px;
    margin-bottom: 70px;
}

.container {
    margin-top: 10px !important;
}

tr {
    height: 50px;
}

@media screen and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }

    .table-responsive {
        border: none !important;
    }

    form.well {
        padding-bottom: 30px !important;
    }

    .my-select {
        max-width: none !important;
    }
}


.custom-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.custom-btn-default:focus,
.custom-btn-default.focus {
    color: #333;
    /* background-color: #e6e6e6; */
    border-color: #8c8c8c;
}
.custom-btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.custom-btn-default:active,
.custom-btn-default.active,
.open > .dropdown-toggle.custom-btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.custom-btn-default:active:hover,
.custom-btn-default.active:hover,
.open > .dropdown-toggle.custom-btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.custom-btn-default:active:focus,
.custom-btn-default.active:focus,
.open > .dropdown-toggle.custom-btn-default:focus,
.custom-btn-default:active.focus,
.custom-btn-default.active.focus,
.open > .dropdown-toggle.custom-btn-default.focus {
    color: #333;
    /* background-color: #d4d4d4; */
    border-color: #8c8c8c;
}
.custom-btn-default:active,
.custom-btn-default.active,
.open > .dropdown-toggle.custom-btn-default {
    background-image: none;
}
.custom-btn-default.disabled:hover,
.custom-btn-default[disabled]:hover,
fieldset[disabled] .custom-btn-default:hover,
.custom-btn-default.disabled:focus,
.custom-btn-default[disabled]:focus,
fieldset[disabled] .custom-btn-default:focus,
.custom-btn-default.disabled.focus,
.custom-btn-default[disabled].focus,
fieldset[disabled] .custom-btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
}
.custom-btn-default .badge {
    color: #fff;
    background-color: #333;
}
