<div class="container theme-showcase">
    <form class="well" [formGroup]="stockForm" id="formId">
        <h3 class="text-center">Stock Market Search</h3>
        <div class="form-row text-left">
            <div class="col-md-3">
                <label for="stockSymbol"><b>Enter Stock Ticker Symbol:<span class="text-danger">*</span></b></label>
            </div>
            <!-- text area -->
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <div class="form-group" [ngClass]="{'has-error': stockForm.controls['stockSymbol'].touched && ifInvalidSymbol}">
                        <input type="text" class="form-control" placeholder="e.g. AAPL" name="stockSymbol" id="stockSymbol"
                               formControlName="stockSymbol" (keyup)="checkSymbol(); getAutocomplete();" matInput [matAutocomplete]="auto">
                    </div>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of autocompleteOptions" [value]="option.name">
                            {{ option.info }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="text-left" style="margin-top: -10px" [hidden]="!(stockForm.controls['stockSymbol'].touched && ifInvalidSymbol)">
                    Please enter a stock ticker symbol.
                </div>
            </div>
            <!-- search and refresh button -->
            <div class="col-md-3">
                <button [disabled]="ifInvalidSymbol" class="btn btn-primary" (click)="stockSearch();isRightVisible=true;">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Get Quote
                </button>
                <button class="btn btn-default" (click)="clearAll();isRightVisible=false;">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear
                </button>
            </div>
        </div>
    </form>

    <hr>

    <div class="well" style="overflow:hidden">
        <app-slide [activePane]="isRightVisible ? 'right' : 'left'">
            <div leftPane [hidden]="!isRightVisible">
                <!-- detail information of a given stock -->
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <b>Stock Details</b>
                        <span class="pull-left">
                            <button class="btn btn-default" (click)="isRightVisible = !isRightVisible;">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                    <div class="panel-body">
                        <!-- top tabs -->
                        <ul class="nav nav-pills" id="tabs1Id">
                            <li class="nav-item active">
                                <a class="nav-link" id="curSto-tab" data-toggle="tab" role="tab"
                                   herf="#curSto" (click)="changeTabs1(1);"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> <span class="mobile-hide">Current</span> Stock</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="hisCha-tab" data-toggle="tab" role="tab"
                                   herf="#hisCha" (click)="changeTabs1(2); "><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <span class="mobile-hide">Historical</span> Charts</a>
                            </li>
                            <li class="nav-item">
                                <!-- a: aria-controls="newFee" aria-expanded="false" -->
                                <a class="nav-link" id="newFee-tab" data-toggle="tab" role="tab"
                                   herf="#newFee" (click)="changeTabs1(3);"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> News <span class="mobile-hide">Feeds</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- top tab: stock overview -->
                            <div class="tab-pane" id="curSto" role="tabpanel" [ngClass]="{'active show': tabs1==1}">
                                <hr>
                                <!-- stock detail table -->
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <b>Stock Details</b>
                                        <div class="pull-right">
                                            <button class="btn custom-btn-default" (click)="addOrRemoveFav(currentStock, !isCurrentStockFavorite);" [disabled]="stockDetail['TIME']===undefined">
                                                <span *ngIf="isCurrentStockFavorite" style="color: #fed531; font-size:16px;" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span *ngIf="!isCurrentStockFavorite" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn custom-btn-default" style="padding:5.5px 9.5px" (click)="shareFB();" [disabled]="chartInstance[tabs2]===undefined">
                                                <img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="22">
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngIf="stockTableInfo !== undefined && stockTableInfo !== null">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr><th>Stock Ticker Symbol</th><td>{{currentStock}}</td></tr>
                                                <tr><th>Last Price</th><td>{{stockDetail['TIME']['lastPrice'].toFixed(2)}}</td></tr>
                                                <tr><th>Change(Change Percent)</th>
                                                    <td [hidden]="stockTableInfo['change']<=0" style="color: #168b16">{{stockTableInfo['change'].toFixed(2)}} ({{(stockTableInfo['changePercent']*100).toFixed(2)}}%)
                                                        <img src='http://cs-server.usc.edu:45678/hw/hw8/images/Up.png' class='changeIndicator'></td>
                                                    <td [hidden]="stockTableInfo['change']!=0">{{stockDetail['TIME']['change'].toFixed(2)}} ({{(stockDetail['TIME']['changePercent']*100).toFixed(2)}}%)</td>
                                                    <td [hidden]="stockTableInfo['change']>=0" style="color: #ff0000">{{stockTableInfo['change'].toFixed(2)}} ({{(stockTableInfo['changePercent']*100).toFixed(2)}}%)
                                                        <img src='http://cs-server.usc.edu:45678/hw/hw8/images/Down.png' class='changeIndicator'></td>
                                                </tr>
                                                <tr><th>Timestamp</th><td>{{stockTableInfo['timeStamp']}}</td></tr>
                                                <tr><th>Open</th><td>{{stockTableInfo['open'].toFixed(2)}}</td></tr>
                                                <tr><th>Close</th><td>{{stockTableInfo['previousClose'].toFixed(2)}}</td></tr>
                                                <tr><th>Day's Range</th><td>{{stockTableInfo['dayRange']}}</td></tr>
                                                <tr><th>Volume</th><td>{{numberWithCommas(stockTableInfo['volume'])}}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 progressBarMarginTable" *ngIf="stockTableInfo === null">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="sr-only">Error:</span>
                                            Error! Failed to get current stock data.
                                        </div>
                                    </div>
                                    <div class="col-md-12 progressBarMarginTable" *ngIf="stockTableInfo === undefined">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs: stock time-series-data and all the indicators -->
                                <div class="col-md-6">
                                    <ul class="nav nav-tabs" role="tablist" id="tabs2Id">
                                        <li class="nav-item active">
                                            <a class="nav-link active" data-toggle="tab" href="#price-chart" role="tab" (click)="changeTabs2(0);">Price</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#sma-chart" role="tab" (click)="changeTabs2(1);">SMA</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#ema-chart" role="tab" (click)="changeTabs2(2);">EMA</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#stoch-chart" role="tab" (click)="changeTabs2(3);">STOCH</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#rsi-chart" role="tab" (click)="changeTabs2(4);">RSI</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#adx-chart" role="tab" (click)="changeTabs2(5);">ADX</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#cci-chart" role="tab" (click)="changeTabs2(6);">CCI</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#bbands-chart" role="tab" (click)="changeTabs2(7);">BBANDS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#macd-chart" role="tab" (click)="changeTabs2(8);">MACD</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="chartArea">
                                        <div class="tab-pane active" id="price-chart" role="tabpanel">
                                            <!-- plot price/volume -->
                                            <div *ngIf="chart[0] !== undefined && chart[0] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[0]" (load)="saveInstance(0, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[0] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get Price data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[0] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="sma-chart" role="tabpanel">
                                            <!-- plot sma -->
                                            <div *ngIf="chart[1] !== undefined && chart[1] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[1]" (load)="saveInstance(1, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[1] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get SMA data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[1] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="ema-chart" role="tabpanel">
                                            <!-- plot ema -->
                                            <div *ngIf="chart[2] !== undefined && chart[2] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[2]" (load)="saveInstance(2, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[2] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get EMA data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[2] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="stoch-chart" role="tabpanel">
                                            <!-- plot stoch -->
                                            <div *ngIf="chart[3] !== undefined && chart[3] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[3]" (load)="saveInstance(3, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[3] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get STOCH data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[3] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="rsi-chart" role="tabpanel">
                                            <!-- plot rsi -->
                                            <div *ngIf="chart[4] !== undefined && chart[4] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[4]" (load)="saveInstance(4, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[4] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get RSI data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[4] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="adx-chart" role="tabpanel">
                                            <!-- plot adx -->
                                            <div *ngIf="chart[5] !== undefined && chart[5] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[5]" (load)="saveInstance(5, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[5] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get ADX data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[5] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="cci-chart" role="tabpanel">
                                            <!-- plot cci -->
                                            <div *ngIf="chart[6] !== undefined && chart[6] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[6]" (load)="saveInstance(6, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[6] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get CCI data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[6] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="bbands-chart" role="tabpanel">
                                            <!-- plot bbands -->
                                            <div *ngIf="chart[7] !== undefined && chart[7] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[7]" (load)="saveInstance(7, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[7] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get BBANDS data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[7] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="macd-chart" role="tabpanel">
                                            <!-- plot macd -->
                                            <div *ngIf="chart[8] !== undefined && chart[8] !== null">
                                                <chart [ngStyle]="{'width': getChartAreaWidth()+'px'}" [options]="chart[8]" (load)="saveInstance(8, $event.context)"></chart>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[8] === null">
                                                <div class="alert alert-danger" role="alert">
                                                    <span class="sr-only">Error:</span>
                                                    Error! Failed to get MACD data.
                                                </div>
                                            </div>
                                            <div class="col-md-12 progressBarMarginChart" *ngIf="chart[8] === undefined">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        <span class="sr-only">50% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- top tab: historical charts -->
                            <div class="tab-pane" id="hisCha" role="tabpanel" [ngClass]="{'active show': tabs1==2}">
                                <hr>
                                <div *ngIf="hisChart !== undefined && hisChart !== null">
                                    <chart [ngStyle]="{'width': getResultAreaWidth()+'px'}" [options]="hisChart" type="StockChart" id="hisChartId"></chart>
                                </div>
                                <div class="col-md-12 progressBarMarginNews" *ngIf="hisChart === null">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="sr-only">Error:</span>
                                        Error! Failed to get historical charts data.
                                    </div>
                                </div>
                                <div class="col-md-12 progressBarMarginNews" *ngIf="hisChart === undefined">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            <span class="sr-only">50% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- top tab: stock news -->
                            <div class="tab-pane" id="newFee" role="tabpanel" [ngClass]="{'active show': tabs1==3}">
                                <hr>
                                <div *ngIf="news !== undefined && news !== null">
                                    <div class="jumbotron" *ngFor="let one of news">
                                        <h4><a href="{{one[3]}}" target="_blank">{{one[0]}}</a></h4><br>
                                        <p>Author: {{one[1]}}</p>
                                        <p>Date: {{one[2]}}</p>
                                    </div>
                                    <ul>
                                        <li *ngFor="let person of people; let i = index">
                                            {{ i + 1 }} - {{ person.name }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12 progressBarMarginNews" *ngIf="news === null">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="sr-only">Error:</span>
                                        Error! Failed to get news feed data.
                                    </div>
                                </div>
                                <div class="col-md-12 progressBarMarginNews" *ngIf="news===undefined">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            <span class="sr-only">50% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div rightPane [hidden]="isRightVisible">
                <!-- favorite stock list -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Favorite List</b>
                        <div class="pull-right">
                            <span class="mobile-hide">Automatic Refresh:&nbsp;</span>
                            <label (click)="changeAutoRefreshState();" id="autoRefreshToggle">
                                <input type="checkbox" data-toggle="toggle" data-height="33.4px" data-width="35px">
                            </label>
                            <button class="btn btn-default" (click)="refreshFavList();">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default" (click)="isRightVisible = !isRightVisible;" [disabled]="currentStock==''">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row col-md-12 col-xs-12" id="sortControl">
                            <div id="my-select-label-1" class="col-md-1 col-xs-12"><label for="sortby">Sort by</label></div>
                            <div class="col-md-3 col-xs-12 my-select">
                                <select class="form-control" id="sortby" #selectSortKind (change)="sortFavList(selectSortKind.value, selectSortAC.value);" #sortby>
                                    <option value="1">Default</option>
                                    <option value="2">Symbol</option>
                                    <option value="3">Price</option>
                                    <option value="4">Change</option>
                                    <option value="5">Change Percent</option>
                                    <option value="6">Volume</option>
                                </select>
                            </div>
                            <div id="my-select-label-2" class="col-md-1 col-xs-12"><label for="order">Order</label></div>
                            <div class="col-md-3 col-xs-12 my-select">
                                <select class="form-control" id="order" #selectSortAC (change)="sortFavList(selectSortKind.value, selectSortAC.value);" [disabled]="sortby.value==='1'">
                                    <option value="1">Ascending</option>
                                    <option value="2">Descending</option>
                                </select>
                            </div>
                        </div>
                        <div [ngStyle]="{'width': getResultAreaWidth()+'px'}" style="clear:both">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr><td><b>Symbol</b></td><td><b>Stock Price</b></td><td><b>Change (Change Percent)</b></td><td><b>Volume</b></td><th></th></tr>
                                    <tr *ngFor="let item of favList">
                                        <td><a (click)="setSymbol(item.symbol);stockSearch();isRightVisible=true;getAutocomplete();checkSymbol();">{{item.symbol}}</a></td>
                                        <td>{{item.price.toFixed(2)}}</td>
                                        <td [hidden]="item.change<=0" style="color: #168b16">{{item.change.toFixed(2)}} ({{(item.changePercent*100).toFixed(2)}}%)
                                            <img src='http://cs-server.usc.edu:45678/hw/hw8/images/Up.png' class='changeIndicator'></td>
                                        <td [hidden]="item.change!=0">{{item.change.toFixed(2)}} ({{(item.changePercent*100).toFixed(2)}}%)</td>
                                        <td [hidden]="item.change>=0" style="color: #ff0000">{{item.change.toFixed(2)}} ({{(item.changePercent*100).toFixed(2)}}%)
                                            <img src='http://cs-server.usc.edu:45678/hw/hw8/images/Down.png' class='changeIndicator'></td>
                                        <td>{{numberWithCommas(item.volume)}}</td>
                                        <td><button class="btn custom-btn-default" (click)="addOrRemoveFav(item.symbol, false);">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-slide>
    </div>
</div>
